<br>
<br>
<br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " href="/productos">Todos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/conjuntos">Conjuntos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/bodys">Bodys</a>
  </li>
</ul>

<div class="row row-cols-1 row-cols-md-4" style="padding-top: 25px;">
 <div class="col mb-4">
    <div class="card h-100">
      <img src="/images/89393857_103642827859717_7748094966102185865_n.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Catalunia</h5>
        <p class="card-text">Body simple con algunas decoraciones</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="/images/82941587_2553853454902048_8428931951023365177_n.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Marruecos</h5>
        <p class="card-text">Body de color frutilla con detalles muy finos y simples</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="/images/71329445_469844947076349_2401234612285164119_n.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Aragon</h5>
        <p class="card-text">Body negro, transparente en el centro pero con detalles y decoraciones en los costados y hombros</p>
      </div>
    </div>
  </div>  
</div>