<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-6">
            <h5 class="text-center">Formulario de Consulta</h5>
            <form method="post" action="/consultas">

                <div class="form-group">
                    <label for="nombre">Nombre :</label>
                    <input autofocus type="text" id="nombre" name="nombre" class="form-control" required>

                </div>

                <div class="form-group">
                    <label for="correo">Correo :</label>
                    <input type="email" id="correo"class="form-control" required name="correo">
                </div>

                <div class="form-group">
                    <label for="correo">Teléfono :</label>
                    <input type="text" id="telefono"class="form-control" required name="telefono">
                </div>

                <div class="form-group">
                    <label for="comentario">Consulta:</label>
                    <textarea class="form-control" required name="comentario" placeholder="Escriba su consulta"></textarea>
                </div>

                <button type="submit" class="btn btn-success btn-block">Enviar</button>

                {{#if status}}
                <h5 class="text-success text-center">{{message}}</h5>
                {{else}}
                <h5 class="text-danger text-center">{{message}}</h5>
                {{/if}}
            </form>
        </div>
    </div>
</div>