<br>
<br>
  <div>

    <h2 class="titulo-2" style="text-align: center;">NOVEDADES</h2>
<br>
  </div>


                                                    <!--DESPLAZAMIENTO DE 3 IMAGENES-->
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        
    <div class="carousel-inner " >
      <div class="carousel-item active ">
        <div style="justify-content:center;text-align: center; border: 1px solid blueviolet; background: #892be267;">
          <img src="/images/91216689_206699043933621_2735395547996365004_n.jpg" class="rounded mx-auto d-block" alt="..." style="height: 600px;">
            <h5>Francine</h5>
              <p>Salmón Pink</p>
        </div>
              <div class="carousel-caption d-none d-md-block"> </div>
      </div>
  
      <div class="carousel-item">
        <div style="justify-content:center;text-align: center; border: 1px solid blueviolet; background: #892be267;">
          <img src="/images/84545324_214268406413951_7868579843974917472_n.jpg" class="rounded mx-auto d-block" alt="..."style="height: 600px;">
            <h5>Nuevo producto! Pontevedra</h5>
              <p>Puntilla bicolor con forrería de seda fría. Consultar stock</p>
        </div>
              <div class="carousel-caption d-none d-md-block"> </div>
      </div>

      <div class="carousel-item">
        <div style="justify-content:center;text-align: center; border: 1px solid blueviolet; background: #892be267;">
          <img src="/images/91234486_212840103287516_2578826594984622221_n.jpg" class="rounded mx-auto d-block" alt="..."style="height: 600px;">
            <h5> Producto traido de vuelta: Aragon</h5>
              <p>Consultar stock</p>
        </div>  
              <div class="carousel-caption d-none d-md-block"></div>
        </div>
    </div>

  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev" style="border: 1px solid black; background:rgb(128, 128, 128, 0.5)">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next"style="border: 1px solid black; background:rgb(128, 128, 128, 0.5)">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
  </div>

<br>
<br>
                              <!--Cartas con los productos mas nuevos-->
  <h3 style="text-align: center;">Lo más visto</h3>
    <div class="container-fluid">
      <div class="row" style="justify-content: center; padding-top: 25px;">
        <div class="col mb-4">
          <div class="card h-100">
            <img src="/images/82772337_3192701507410184_8735096028246774819_n.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Pontevedra</h5>
                  <p class="card-text">Puntilla bicolor con forrería de seda fría.</p>
              </div>
          </div>
        </div>
                                      
  <div class="col mb-4">
    <div class="card h-100">
      <img src="/images/82941587_2553853454902048_8428931951023365177_n.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Marruecos</h5>
            <p class="card-text">Body de color frutilla con detalles muy finos y simples</p>
        </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card h-100">
      <img src="/images/84000275_526158621365489_459115951324307781_n.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ᴀᴛᴇɴᴇᴀ</h5>
            <p class="card-text">Diseño común de color blanco</p>
      </div>
    </div>
  </div>
      </div>
    </div> 