<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />


<nav class="navbar navbar-expand-lg titulo sticky-top" style="background-color:rgb(248, 102, 199);">
                                                    <!--TITULO PRINCIPAL-->
    <a class="navbar-brand" href="/inicio">
        <img src="/images/joi intimates.jpg" style="height: 50px;">
    </a>
    <button class="navbar-toggler btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon btn btn-outline-secondary"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
                                                    <!--lOS ACCIONADORES-->

        <li class="nav-item mr-3">
          <a class="nav-link btn btn-outline-primary d-flex justify-content-between" href="/consultas">Consultas</a>
        </li>

        <li class=" nav-item dropdown mr-3 nav-top-link">
            <div class="btn-group ">
                
                  <a href="/productos" >
                  <button type="button" class="btn btn-outline-primary btn-hover" >Productos</button>
                  </a>
               
                
          <button class="btn  dropdown-toggle dropdown-toggle-split btn-outline-primary" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
          </button>
                  
                                                    <!--SUB ACCIONES-->
          <div class="dropdown-menu" >
            <a class="dropdown-item" href="/productos">Todos los Productos</a>
            <a class="dropdown-item" href="/conjuntos">Conjuntos</a>
            <a class="dropdown-item" href="/bodys">Bodys</a>
          </div>
          </div>
        </li>
      <a href="/login"><button type="button" class="btn btn-outline-primary mr-3" style="margin-left: 570px">Login</button></a>
      <a href="#" style="margin-left: 3px;" >
     <img src="https://i.pinimg.com/236x/0d/e0/cd/0de0cd80d803e78f0ef499af6c0d61e7.jpg" style="height: 40px ;widows: 100%;" alt="carrito de compras" > 
      
      <span class="sr-only">(current)</span>
    </a>
    </div>
  </nav>





  </head>
  <body>
    {{{body}}}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/b5f09f38c0.js" crossorigin="anonymous"></script>
  
  
  </body>
  <footer class="absolute-footer mb-auto py-3 " style="background: rgb(128, 128, 128,0.5);">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h6>Seguinos en nuestras redes sociales:</h6>
          
            <button class="btn-primary" style="border-radius: 100%;">
              <a href="https://www.instagram.com/joy.intimates/?hl=es-la" target="new_tab" style="color: black;">
                 <img src="/images/580b57fcd9996e24bc43c521.png" alt="" style="height: 30px;">
              </a>
            </button>
          

      
        <button class="btn-primary ml-5" style="border-radius: 100%;">
          <a href="https://api.whatsapp.com/send?phone=541162841404&text=Hola!, me gustaría consultar sobre algunos productos" target="new_tab" style="color: black;">
             <img src="/images/whatsapp-logo.png" alt="WhatsApp" style="height: 30px;">
          </a>
        </button>
      
       
      </div>

      <div class="col-4">
        <h6>Puntos de entrega:</h6>
          <i class="fas fa-map-marker-alt">  Villa Urquiza</i><br>
          <i class="fas fa-map-marker-alt">  Microcentro</i><br>
          <i class="fas fa-map-marker-alt">  Morón</i><br>
          <i class="fas fa-map-marker-alt">  Envíos a todo el país</i>
      </div>

        <div class="col-4">
          <h6>Quienes Somos?</h6>
            <p>Somos una pareja en la cual se puso como meta tener su propio emprendimiento, si bien nos faltan cosas como por ejemplo un showroom, si todo marcha bien, más adelante lo conseguiremos </p>
        </div>
    </div>
  </div>
</footer>
</html>
