
{{!esto va a mostrar todos los productos, voy a tener que hacer un hbs para producto en singular,   }}
<br>
<br>
<br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/productos">Todos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/conjuntos">Conjuntos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/bodys">Bodys</a>
  </li>
</ul>

<div class="row row-cols-1 row-cols-md-4" style="padding-top: 25px;">
  <div class="col mb-4">
    <div class="card h-100">
      <img src="/images/82772337_3192701507410184_8735096028246774819_n.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pontevedra</h5>
        <p class="card-text">Puntilla bicolor con forrería de seda fría.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="/images/84000275_526158621365489_459115951324307781_n.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ᴀᴛᴇɴᴇᴀ</h5>
        <p class="card-text">Diseño común de color blanco</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="/images/82345774_638316250277289_4356687613373073963_n.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">New In</h5>
        <p class="card-text">Súper original y canchero. Conjunto de microfibra</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="/images/87328537_816842315494911_6952748635663263158_n.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Francine</h5>
        <p class="card-text">Salmón Pink</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="/images/89393857_103642827859717_7748094966102185865_n.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Catalunia</h5>
        <p class="card-text">Body simple con algunas decoraciones</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="/images/84311243_855291618269842_2212523862315407483_n.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Katina</h5>
        <p class="card-text">Conjunto de color pastel</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="/images/82941587_2553853454902048_8428931951023365177_n.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Marruecos</h5>
        <p class="card-text">Body de color frutilla con detalles muy finos y simples</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="/images/71329445_469844947076349_2401234612285164119_n.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Aragon</h5>
        <p class="card-text">Body negro, transparente en el centro pero con detalles y decoraciones en los costados y hombros</p>
      </div>
    </div>
  </div>
</div>
    